<template>
  <div class="teams">
    <h3 class="ma-5">Take a look at your team</h3>
    <v-img class="ma-10" src="https://media.altpress.com/uploads/2019/10/terrible_fan_art_quiz.jpg" width="600px"></v-img>
    <subtitle>What, they are too sad? So are you.</subtitle>
  </div>
</template>

<script>
export default{}
</script>