<template>
    <div class="tickets">
        <h3>Tickets are here, look</h3>
    </div>
    <v-list rounded>
        <v-list-item-title>1. bla</v-list-item-title>
        <v-list-item-title>2. bla bla </v-list-item-title>
        <v-list-item-title>3. bla bla bla!</v-list-item-title>
    </v-list>
</template>

<script>
export default {
    name: 'Tickets'
};
</script>
